DOMAIN=intra.login.42.fr
UID=login

# SSL Certificate variables
SSL_COUNTRY=FR
SSL_STATE=State
SSL_LOCALITY=City
SSL_ORGANIZATION=42
SSL_ORGANIZATIONAL_UNIT=42

# MariaDB variables
DB_NAME=wordpress
SQL_USER=wp_user
SQL_PASSWORD=wp_password
SQL_ROOT_PASSWORD=root_password