DOMAIN=intra.login.42.fr
UID=login

# SSL Certificate variables
SSL_COUNTRY=FR
SSL_STATE=State
SSL_LOCALITY=City
SSL_ORGANIZATION=42
SSL_ORGANIZATIONAL_UNIT=42

# MariaDB variables
DB_NAME=wordpress
DB_USER=wp_user
DB_HOST=localhost

# Wordpress variables
WP_SITE_TITLE=My Awesome Site
WP_ADMIN_USERNAME=userexample
WP_ADMIN_EMAIL=userexample@example.com